flow.json
[{"id":"c895de65.034f1","type":"tab","label":"IVS_WVE 0.1","disabled":false,"info":""},{"id":"27af6dd8.9e6292","type":"function","z":"c895de65.034f1","name":"Update concepts flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id = msg.video_id;\n\n\nconcepts= msg.payload.analysis.concepts;\n//concepts = [Bubba, Billy, Fred];\n//video_id=\"122050649\";\n\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n//\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Concepts_field\") + \".json\";  // field_id 7906 in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\nvar conceptText='';\nfor (i=0; i< concepts.length; i++){\n    conceptText = conceptText+ concepts[i].text+ \", \";\n}\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + conceptText; //\"value=Bubba, Billy, Fred\"; // field_id in SM is Speakers tag list\nmsg.body=\"value=\" + conceptText;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":728,"wires":[["6c771b07.2f4724"]]},{"id":"6c771b07.2f4724","type":"http request","z":"c895de65.034f1","name":"Update SM field value","method":"PUT","ret":"txt","url":"","tls":"","x":788,"y":796,"wires":[["3a031713.22f558"]]},{"id":"b4edeffe.b68bc","type":"function","z":"c895de65.034f1","name":"Update categories field flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id =  msg.video_id;\n\nvar categories=[];\ncategories=msg.payload.analysis.categories;\n//categories = [Bubba, Billy, Fred];\n//video_id=\"122050649\";\nmsg.mcategories=categories;\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Categories_field\") + \".json\";  // field_id 7906 in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    //\"Authorization\":'Bearer d47214950acaafb1852f7344411bed132b3802d4',\n    \"Accepts\": \"application/json\"\n\n    };\n\nvar categoriesText='';\nfor (i=0; i< categories.length; i++){\n    categoriesText = categoriesText+ categories[i].label+ \", \";\n}\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + categoriesText; //\"value=Bubba, Billy, Fred\"; // field_id in SM is Speakers tag list\nmsg.body=\"value=\" + categoriesText;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":760,"wires":[["6c771b07.2f4724"]]},{"id":"874f60c0.24a0e","type":"function","z":"c895de65.034f1","name":"Update keywords flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id =  msg.video_id;\nkeywords= msg.payload.analysis.keywords;\n//keywords = [Bubba, Billy, Fred];\n//video_id=\"122050649\";\n\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Keywords_field\") + \".json\";  // field_id 7906 in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    //\"Authorization\":'Bearer d47214950acaafb1852f7344411bed132b3802d4',\n    \"Accepts\": \"application/json\"\n\n    };\nmsg.keywords=keywords;\nvar categoriesText='';\nfor (i=0; i< keywords.length; i++){\n    categoriesText = categoriesText+ keywords[i].text+ \", \";\n}\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + categoriesText; //\"value=Bubba, Billy, Fred\"; // field_id in SM is Speakers tag list\nmsg.body=\"value=\" + categoriesText;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":792,"wires":[["6c771b07.2f4724"]]},{"id":"34625210.4d271e","type":"function","z":"c895de65.034f1","name":"Update sentiment flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id =  msg.video_id;\nsentiment= msg.payload.analysis.sentiment.label;\n//sentiment = [Bubba, Billy, Fred];\n//video_id=\"122050649\";\n\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Sentiment_field\") + \".json\";  // field_id 7906 in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    //\"Authorization\":'Bearer d47214950acaafb1852f7344411bed132b3802d4',\n    \"Accepts\": \"application/json\"\n\n    };\n\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + sentiment; //\"value=Bubba, Billy, Fred\"; // field_id in SM is Speakers tag list\nmsg.body=\"value=\" + sentiment;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":824,"wires":[["6c771b07.2f4724"]]},{"id":"3a031713.22f558","type":"debug","z":"c895de65.034f1","name":"SM field update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":992,"y":796,"wires":[]},{"id":"52af50ba.4975e","type":"function","z":"c895de65.034f1","name":"Update JOB_ID flow.get","func":"\nvar video_id =  msg.video_id;\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\n\n\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n//\n// field_id 7950 in IBM Video Streaming. Need configuration capability. flow.get\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"JOB_ID_field\") + \".json\";  \n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + msg.JOB_ID; //\nmsg.body=\"value=\" +  msg.JOB_ID;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":696,"wires":[["6c771b07.2f4724"]]},{"id":"ec1ecd09.795ef","type":"http in","z":"c895de65.034f1","name":"Sm Channel Hook secret","url":"channelHook23679576","method":"post","upload":false,"swaggerDoc":"","x":142,"y":160,"wires":[["48a4df09.dfac7","6cd49875.0edf38"]]},{"id":"597383d0.2b0eac","type":"http response","z":"c895de65.034f1","name":"acknowledge (required)","statusCode":"","headers":{},"x":923,"y":62,"wires":[]},{"id":"823d026f.1def1","type":"http request","z":"c895de65.034f1","name":"","method":"POST","ret":"obj","url":"http://ubx-cloudant-nodered.mybluemix.net/channelHook","tls":"","x":484,"y":3016,"wires":[["bf7392c8.bb8a4"]]},{"id":"bf7392c8.bb8a4","type":"debug","z":"c895de65.034f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":684,"y":3016,"wires":[]},{"id":"bdd5df01.78cc7","type":"inject","z":"c895de65.034f1","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":64,"y":3016,"wires":[["eb3cb5d3.4ab608"]]},{"id":"eb3cb5d3.4ab608","type":"function","z":"c895de65.034f1","name":"video.deleted test","func":"\n\nvar PutHeader = {\n    //\"content-type\":\"application/json\",\n    \"X-Hook-Secret\": \"open-sesame!\",\n    \"Accepts\": \"application/json\"\n\n    };\n\n//msg.url = URL0;\n\n\nvar body = {\n\t\"event\": \"video.deleted\",\n\t\"channelId\": 123\n}\nmsg.headers = PutHeader;\nmsg.payload=body;\nreturn msg;","outputs":1,"noerr":0,"x":275,"y":3016,"wires":[["823d026f.1def1"]]},{"id":"6cd49875.0edf38","type":"function","z":"c895de65.034f1","name":"Channel Hook trigger event switch","func":"\nvar xHooksecret = \"\";\nxHooksecret = msg.req.headers;\nvar PutHeader = xHooksecret;\nmsg.headers =  PutHeader;\nvar trigger_event = msg.payload.event;\nmsg.doWVE=true; // will run WVE\n\n// check to see if this is the registration event. Registraion event contains trigger_event and channelId only. Jus needs the ACK.\n\nif (trigger_event==\"channel.status.live\"){\n    return [msg,msg,null,null,null];    \n}else if (trigger_event==\"channel.status.offair\"){\n    return [msg,null,msg,null,null];    \n}else if (trigger_event==\"video.create\"){\n    if (msg.payload.videoId >\" \"){\n    return [msg,null,null,msg,null]; \n    }else {\n        return [msg,null,null,null,null]; // was only a register event\n    }\n}else if (trigger_event==\"video.deleted\"){\n    return [msg,null,null,null,msg];\n}\n\n\n//msg.body=body;\n//return msg;","outputs":5,"noerr":0,"x":572,"y":160,"wires":[["597383d0.2b0eac","6a1f4fdc.8423d"],["b1daf16e.70708"],["c5357b0.20b6488"],["ada87220.956bd","2d60916.d686f6e"],["6198e381.6594cc"]],"outputLabels":["http response out","channel.status.live","channel.status.offair","video.create","video.deleted"]},{"id":"6a1f4fdc.8423d","type":"debug","z":"c895de65.034f1","name":"ack","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":862,"y":32,"wires":[]},{"id":"b1daf16e.70708","type":"debug","z":"c895de65.034f1","name":"live","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":863,"y":94,"wires":[]},{"id":"c5357b0.20b6488","type":"debug","z":"c895de65.034f1","name":"off air","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":863,"y":126,"wires":[]},{"id":"ada87220.956bd","type":"debug","z":"c895de65.034f1","name":"video created","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":893,"y":158,"wires":[]},{"id":"6198e381.6594cc","type":"debug","z":"c895de65.034f1","name":"video deleted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":893,"y":190,"wires":[]},{"id":"48a4df09.dfac7","type":"debug","z":"c895de65.034f1","name":"channelHook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":566,"y":80,"wires":[]},{"id":"596a8ce1.53df34","type":"http request","z":"c895de65.034f1","name":"Video Dowload request","method":"POST","ret":"obj","url":"","tls":"","x":515,"y":230,"wires":[["f4fd88af.726598","87168d98.b227"]]},{"id":"6b9c00f5.391bd","type":"http request","z":"c895de65.034f1","name":"Check video download status","method":"GET","ret":"obj","url":"","tls":"","x":535,"y":262,"wires":[["442658e7.476138"]]},{"id":"b772b70b.50d238","type":"function","z":"c895de65.034f1","name":" video down req","func":"\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id=\"\";\n//msg.video_id=msg.payload.videoId;\nif (msg.payload.videoId >\" \"){\n    video_id=msg.payload.videoId\n    msg.video_id=video_id;\n} else {\n    video_id=msg.video_id;\n}\n\nvar url = apihost + \"/videos/\" + video_id + \"/downloadable/mp4.json\";\nvar headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\nmsg.url = url\nmsg.headers = headers;\n\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":230,"wires":[["596a8ce1.53df34","5201bed4.bf699"]]},{"id":"143cdf92.8fcf8","type":"debug","z":"c895de65.034f1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":948,"y":296,"wires":[]},{"id":"f4fd88af.726598","type":"function","z":"c895de65.034f1","name":"test status","func":"var video_download_status  = msg.payload.downloadable.status;\n\n//msg.length=metadata.length;\nif (video_download_status == \"available\"){\n    msg.video_download_url=msg.payload.downloadable.download_url;\n    return [msg,null]\n} else return [null,msg]\n\n\nreturn msg;\n\n","outputs":2,"noerr":0,"x":750,"y":232,"wires":[["143cdf92.8fcf8","f2c6e38.4ddd92"],["67c7390e.a47598"]]},{"id":"67c7390e.a47598","type":"delay","z":"c895de65.034f1","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":105,"y":262,"wires":[["50a4b987.ebde88"]]},{"id":"50a4b987.ebde88","type":"function","z":"c895de65.034f1","name":" video down status","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\n\n\nvar url = apihost + \"/videos/\" + msg.video_id + \"/downloadable/mp4.json\";\n//var url = channel_apihost + \"/videos/\" + msg.payload.video_object.id + \"/downloadable/mp4.json\";\nvar headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\nmsg.url = url\nmsg.headers = headers;\n\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":262,"wires":[["6b9c00f5.391bd"]]},{"id":"442658e7.476138","type":"function","z":"c895de65.034f1","name":"test status","func":"var video_download_status  = msg.payload.downloadable.status;\n\n//msg.length=metadata.length;\nif (video_download_status == \"available\"){\n    msg.video_download_url=msg.payload.downloadable.download_url;\n    return [msg,null]\n} else return [null,msg]\n\n\nreturn msg;\n\n","outputs":2,"noerr":0,"x":747,"y":262,"wires":[["143cdf92.8fcf8","f2c6e38.4ddd92"],["67c7390e.a47598"]]},{"id":"f2c6e38.4ddd92","type":"link out","z":"c895de65.034f1","name":"SM video download req ready","links":["39a0f12d.39a9ee","1526cbd4.5573bc","175e8944.290667"],"x":1063,"y":288,"wires":[]},{"id":"87168d98.b227","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":948,"y":264,"wires":[]},{"id":"2d60916.d686f6e","type":"delay","z":"c895de65.034f1","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":101,"y":230,"wires":[["b772b70b.50d238"]]},{"id":"a05fac4b.9e749","type":"link in","z":"c895de65.034f1","name":"process caption","links":[],"x":47,"y":200,"wires":[["6e61c99a.621988"]]},{"id":"6e61c99a.621988","type":"function","z":"c895de65.034f1","name":"set msg event","func":"\nreturn msg;","outputs":1,"noerr":0,"x":312,"y":200,"wires":[["6cd49875.0edf38"]]},{"id":"348719f6.3daf26","type":"function","z":"c895de65.034f1","name":"set login","func":"\n\nmsg.credentials = {\n    client_id: flow.get(\"client_id\"),\n    client_secret: flow.get(\"client_secret\")\n};\nmsg.headers = {\n    \"Content-Type\": \"application/x-www-form-urlencoded\",\n    \"Accepts\": \"application/json\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":1648,"wires":[["91f950fe.8e8ec"]]},{"id":"5700fc1c.750114","type":"inject","z":"c895de65.034f1","name":"Inject on load","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"","x":109.00000762939453,"y":1614,"wires":[["b9e99fb5.22ad7"]]},{"id":"b9e99fb5.22ad7","type":"function","z":"c895de65.034f1","name":"set flow vars","func":"flow.set(\"useCallback\",false);\n\nflow.set(\"WVEapihost\", \"https://api-dal.watsonmedia.ibm.com\"); \nflow.set(\"WVEapikey\",\"\");\nflow.set(\"SMapihost\", \"https://api.video.ibm.com\"); \nflow.set(\"client_id\", \"\"); \nflow.set(\"client_secret\", \"\"); \nflow.set(\"token_type\", \"bearer\"); //SM token type\nflow.set(\"node_red_url\",\"http://mydomain.net\");\n\nflow.set(\"SM_channel_id\",\"\"); //channel_id to monitor\n\nflow.set(\"JOB_ID_field\",\"\");  //string\nflow.set(\"Concepts_field\",\"\"); // tag_list\nflow.set(\"Categories_field\",\"\"); // tag_list\nflow.set(\"Keywords_field\",\"\"); //tag_list\nflow.set(\"Sentiment_field\",\"\");//string\nflow.set(\"Profanity_field\",\"\"); //tag_list\nflow.set(\"Explicit_field\",\"\"); //bool\n\nflow.set(\"speakers\",\"\"); // not implemented 20190704\n\n// Action field\nflow.set(\"actionField\",\"\"); // this is the custom metadata field_id for \"actions\" list type field in SM. Used for tracking progress\nflow.set(\"actionFieldValueWVEjobComplete\",\"value[0]=\");\nflow.set(\"actionFieldValueWVEjobProcess\",\"value[0]=\"); //running\nflow.set(\"actionFieldValueWVEjobStart\",\"value[0]=\");\nflow.set(\"actionFieldValueWVEjobFail\",\"value[0]=\");\n\n// add status field list. Want to maintain order. Date time--action \nflow.set(\"action_status_field\",\"\"); // tag_list\n\n\nreturn msg;","outputs":1,"noerr":0,"x":307.0000305175781,"y":1614,"wires":[["2d965ad8.33d9f6"]]},{"id":"91f950fe.8e8ec","type":"template","z":"c895de65.034f1","name":"Auth Form Encode","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"client_id={{credentials.client_id}}&client_secret={{credentials.client_secret}}&grant_type=client_credentials","x":438,"y":1648,"wires":[["8abe6745.d2b9d8"]]},{"id":"8abe6745.d2b9d8","type":"http request","z":"c895de65.034f1","name":"OAuth Server","method":"POST","ret":"obj","url":"https://www.ustream.tv/oauth2/token","tls":"","x":638,"y":1648,"wires":[["69c44199.c823e"]]},{"id":"2fe2806a.1b922","type":"debug","z":"c895de65.034f1","name":"SM log in","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1143,"y":1648,"wires":[],"l":false},{"id":"69c44199.c823e","type":"function","z":"c895de65.034f1","name":"flow.set access and refresh token","func":"flow.set(\"access_token\", msg.payload.access_token); //SM access token. Set upon login\nflow.set(\"refresh_token\", msg.payload.refresh_token); //SM refresh token. Set upon login\n\nreturn msg;","outputs":1,"noerr":0,"x":888,"y":1648,"wires":[["2fe2806a.1b922"]]},{"id":"2d965ad8.33d9f6","type":"debug","z":"c895de65.034f1","name":"flow vars","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":437.0000305175781,"y":1612.75,"wires":[],"l":false},{"id":"c548e502.706fe8","type":"inject","z":"c895de65.034f1","name":"Inject on load","topic":"","payload":"","payloadType":"date","repeat":"28800","crontab":"","once":true,"onceDelay":"","x":108,"y":1648,"wires":[["348719f6.3daf26"]]},{"id":"312951b4.be0b1e","type":"function","z":"c895de65.034f1","name":"Job processing flow.get","func":"// custom metadata field in SM. Actions : List type \nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id = msg.video_id;\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n//\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"actionField\") + \".json\";  // field_id  in IBM Video Streaming. Need configuraation capability.\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = flow.get(\"actionFieldValueWVEjobProcess\"); //\"value[0]=2005\"; // enum id:2005 = \"WVE job started\" in IBM Video Streaming. This field will change system to system. Need to add configuration lookup fields.\n\n// enum id:2009 = \"running\" \n\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":920,"wires":[["6c771b07.2f4724"]]},{"id":"2c5f01b1.513f6e","type":"function","z":"c895de65.034f1","name":"Job Complete flow.get","func":"// custom metadata field in SM. Actions : List type \nvar video_id = msg.video_id;\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token = flow.get(\"access_token\");\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n//\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"actionField\") + \".json\";  // field_id 7907 in IBM Video Streaming. Need configuraation capability.\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = flow.get(\"actionFieldValueWVEjobComplete\"); //This field will change system to system. Need to add configuration lookup fields.\n//msg.payload = \"value[0]=2010\"; \n\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":952,"wires":[["6c771b07.2f4724"]]},{"id":"a821c76b.0711e8","type":"link in","z":"c895de65.034f1","name":"WC job complete","links":["a0deb973.ec3e58","e49b7108.c09058","d9e561f4.a4e77","ff66078c.8fc738","cae7a318.a2c5","4a18e1b3.8ff188","95c61547.03bf7"],"x":89,"y":952,"wires":[["2c5f01b1.513f6e"]]},{"id":"1408d921.d8b2f7","type":"http request","z":"c895de65.034f1","name":"Start WVE Job","method":"POST","ret":"obj","url":"","tls":"","x":616,"y":1088,"wires":[["64dd89b2.84b648","c8f1b570.80c968"]]},{"id":"64dd89b2.84b648","type":"debug","z":"c895de65.034f1","name":"WVE Job start callback","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":1065,"wires":[]},{"id":"c8f1b570.80c968","type":"function","z":"c895de65.034f1","name":"set  msg.JOB_ID","func":"var job_id = msg.payload.id;\nmsg.JOB_ID= job_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":816,"y":1088,"wires":[["b9715a.297dfea8"]]},{"id":"b9715a.297dfea8","type":"link out","z":"c895de65.034f1","name":"WVE JOB starting","links":["492d39e7.794058","ca50fd88.d54c6"],"x":981,"y":1101,"wires":[]},{"id":"6fc84b4f.920e34","type":"debug","z":"c895de65.034f1","name":"status","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":624,"y":1336,"wires":[]},{"id":"d5841976.14a568","type":"link in","z":"c895de65.034f1","name":"set WVE fields in SM","links":["a0deb973.ec3e58"],"x":82,"y":780,"wires":[["27af6dd8.9e6292","b4edeffe.b68bc","874f60c0.24a0e","34625210.4d271e"]]},{"id":"492d39e7.794058","type":"link in","z":"c895de65.034f1","name":"update JOB_ID","links":["b9715a.297dfea8","b25aeab7.256cf8"],"x":87,"y":700,"wires":[["52af50ba.4975e"]]},{"id":"d55e5e94.19022","type":"http in","z":"c895de65.034f1","name":"WVE JOB notification callback","url":"WVEHooknotification23679576","method":"post","upload":false,"swaggerDoc":"","x":274,"y":1330,"wires":[["b0e43a59.7d4208"]]},{"id":"b0e43a59.7d4208","type":"function","z":"c895de65.034f1","name":"Callback from WVE complete","func":"msg.JOB_ID = msg.payload.job_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":274,"y":1366,"wires":[["6fc84b4f.920e34","93b993b6.f7709","6870b92f.3a6128"]]},{"id":"14f6bce3.84def3","type":"http request","z":"c895de65.034f1","name":"GET Video Analysis","method":"GET","ret":"obj","url":"","tls":"","x":402,"y":1472,"wires":[["72a204af.42591c","a0deb973.ec3e58"]]},{"id":"310ed72b.06f858","type":"function","z":"c895de65.034f1","name":"set video","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURLvar apikey = form.get(\"WVEapikey\"); \n\n\n\n//var URL0 = \"https://api-dal.watsonmedia.ibm.com/video-enrichment/v2/jobs/11b94ac0-07b4-4627-b8a7-6e2fed8b870e/outputs/video-analysis.json\"\n//msg.tmpJOB_ID = msg.payload;\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\" + msg.JOB_ID + \"/outputs/video-analysis.json\"; //API base\n\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":1474,"wires":[["14f6bce3.84def3"]]},{"id":"72a204af.42591c","type":"debug","z":"c895de65.034f1","name":"Video Analysis Complete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1014,"y":1472,"wires":[]},{"id":"39ef5a4a.bc45b6","type":"http request","z":"c895de65.034f1","name":"Job detail","method":"GET","ret":"obj","url":"","tls":"","x":393,"y":1402,"wires":[["71688242.7d2b5c"]]},{"id":"6870b92f.3a6128","type":"function","z":"c895de65.034f1","name":"get Job Detail","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURL\n// If this is a callback then msg.video_id will not be set. Otherwise let it be. \n\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\" + msg.JOB_ID;\nvar headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\nmsg.url = url\nmsg.headers = headers;\nreturn msg;\n","outputs":1,"noerr":0,"x":232,"y":1402,"wires":[["39ef5a4a.bc45b6"]]},{"id":"71688242.7d2b5c","type":"function","z":"c895de65.034f1","name":"set video_url","func":"//var video_url = msg.payload.preset.simple.video_url; // preset could be complex, custom , or simple. complex = includes VTT upload\n//msg.video_url = video_url;\n//msg.video_download_url=video_url;\n//msg.JOB_ID=msg.JOB_ID.id\nif (!msg.video_id){\n    msg.video_id =msg.payload.name;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":1438,"wires":[["310ed72b.06f858","2e2f32b2.1becfe"]]},{"id":"a0deb973.ec3e58","type":"link out","z":"c895de65.034f1","name":"Video Analysis complete","links":["a821c76b.0711e8","d5841976.14a568"],"x":855,"y":1472,"wires":[]},{"id":"3669f3d0.88d61c","type":"comment","z":"c895de65.034f1","name":"Notes for WVE call back","info":"Will need to ensure WVE title name = video_id for this to work. Calback only returns name and JOB_ID\n\n\nhttp://ubx-cloudant-nodered.mybluemix.net/WVEHookKEY1","x":224,"y":1286,"wires":[]},{"id":"5b632b9c.4cf1b4","type":"comment","z":"c895de65.034f1","name":"Abstract SM fields ","info":"set msg.action_status to correct value prior to calling.\n\nReduce number of functions for input\n\n1 ea for different field types?\nString\nnumeric\ndate\nbool\ntaglist\nlink\nmultiple choice\ngroup of fields\n","x":738,"y":752,"wires":[]},{"id":"7fdab026.20e31","type":"http request","z":"c895de65.034f1","name":"Get all videos in channel","method":"GET","ret":"obj","url":"","tls":"","x":262,"y":408,"wires":[["d64388bf.99c7b8","657552b3.92097c"]]},{"id":"36e5d425.81d5dc","type":"inject","z":"c895de65.034f1","name":"Polling interval ","topic":"","payload":"manual_start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":344,"wires":[["bf1e1dec.839cd"]]},{"id":"bf1e1dec.839cd","type":"function","z":"c895de65.034f1","name":"set channel flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar channel_id = flow.get(\"SM_channel_id\");\n\n// add channel config in flow var\nvar url = apihost + \"/channels/\" + channel_id + \"/videos.json?filter[protect]=private,public\";\n//https://{{channel_apihost}}/channels/{{CHANNEL_ID}}/videos.json?filter[protect]=private,public\n\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"Bearer \" + access_token,\n\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":376,"wires":[["7fdab026.20e31","41f0467d.d0a4f8"]]},{"id":"d64388bf.99c7b8","type":"function","z":"c895de65.034f1","name":"get videos","func":"\nmsg.payload= msg.payload.videos\n\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":440,"wires":[["65a17a1a.941624"]]},{"id":"65a17a1a.941624","type":"split","z":"c895de65.034f1","name":"","splt":"[118,105,100,101,111,115,91,93]","spltType":"bin","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":202,"y":472,"wires":[["2ed3f624.e3926a","edf8b763.b9b068"]]},{"id":"59af89d5.4095a8","type":"link in","z":"c895de65.034f1","name":"Poll Video Streaming","links":["77bc579a.4d4ef8","88159469.7ffcd8"],"x":58,"y":378,"wires":[["bf1e1dec.839cd"]]},{"id":"657552b3.92097c","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":573,"y":418,"wires":[]},{"id":"2ed3f624.e3926a","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":472,"wires":[]},{"id":"60a3e056.aa1e5","type":"http request","z":"c895de65.034f1","name":"get custom metada for field","method":"GET","ret":"obj","url":"","tls":"","x":272,"y":536,"wires":[["9d6f928.1fb0f7","c7721230.0531b"]]},{"id":"b037cbfc.dfbd88","type":"function","z":"c895de65.034f1","name":"set msg.video_object","func":"msg.video_id=msg.payload.id;\nvar video_id=msg.payload.id;\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata.json\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata.json\";\n//var URL0 = global.get(\"channel_apihost\") + \"/videos/\" + \"122243068\" + \"/custom-metadata.json\";\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":252,"y":504,"wires":[["60a3e056.aa1e5"]]},{"id":"c7721230.0531b","type":"function","z":"c895de65.034f1","name":"which action field flow.get","func":"\nvar metadata  = [];\nmetadata= msg.payload.metadata;\nvar actionField= flow.get(\"actionField\"); // this must be field type list\nvar caption_id_field = flow.get(\"caption_id_field\");\n//msg.video_download_url = msg.video_object.video_download_url; //need download url\n\n\n// ONLY SETS VALUE: caption_id from SM for downstream functions: re-process WC captions, update validated captions\nfor (n=0; n<metadata.length; n++) {\n    if (metadata[n].field_id == caption_id_field ){//     \"7952\"){\n        msg.caption_id = metadata[n].value; // value array means this must be field type list \n    \n    }\n}\n\n\n\n\n\n///*\n// needs to process full job\nfor (i=0; i<metadata.length; i++) {\n    if (metadata[i].field_id == actionField){\n        msg.action=metadata[i].value[0].name; // value array means this must be field type list \n       // msg.actionValue=metadata[i].value;  // could be abstracted more by id of the object which \"2002\" = 'Complete' on source demo system\n        if (metadata[i].value[0].name == \"WC Caption update\"){\n            msg.action=metadata[i].value[0].name;\n        return [msg,null,null,null];\n        } else if (metadata[i].value[0].name == \"Translate\") {\n            msg.action=metadata[i].value[0].name;\n        return [null,msg,null,null];            \n        } else if (metadata[i].value[0].name == \"Job start\") {\n             msg.action=metadata[i].value[0].name;\n        return [null,null,null,msg];               \n        } else if (metadata[i].value[0] == flow.get(\"actionFieldValueWVEjobComplete\")) {\n             msg.action=metadata[i].value[0].name;\n        return [null,null,msg,null];               \n        }\n   \n        \n    }\n}\n\n\nreturn  [null,null,msg,null];\n\n","outputs":4,"noerr":0,"x":262,"y":584,"wires":[["967d45b7.1af028"],["eb2fd0ee.638c6"],["e90476ed.760698"],["deb15b54.0ac0c8","44f32cbb.1bdef4"]],"outputLabels":["WC re-process","WC update Captions only","Complete","NEW WC Captions job"]},{"id":"deb15b54.0ac0c8","type":"function","z":"c895de65.034f1","name":"set payload","func":"//may not need any longer; msg.video_id is the universal var for this flow\nmsg.payload.videoId = msg.video_id;\nmsg.doWVE=true;\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":632,"wires":[["b772b70b.50d238","7823784b.1796d8"]]},{"id":"44f32cbb.1bdef4","type":"debug","z":"c895de65.034f1","name":"Job start","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":632,"wires":[]},{"id":"9d6f928.1fb0f7","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":504,"wires":[]},{"id":"967d45b7.1af028","type":"debug","z":"c895de65.034f1","name":"WC Caption update","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":536,"wires":[]},{"id":"e90476ed.760698","type":"debug","z":"c895de65.034f1","name":"Complete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":600,"wires":[]},{"id":"41f0467d.d0a4f8","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":573,"y":378,"wires":[]},{"id":"64179d9a.63db24","type":"function","z":"c895de65.034f1","name":"Update Profanities flow.get","func":"var apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id =  msg.video_id;\nprofanities= msg.payload.profanities;\n//keywords = [Bubba, Billy, Fred];\n//video_id=\"122050649\";\nvar profanitiesText=\"\";\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Profanity_field\") + \".json\";  // field_id 7906 in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    //\"Authorization\":'Bearer d47214950acaafb1852f7344411bed132b3802d4',\n    \"Accepts\": \"application/json\"\n\n    };\n\nif (profanities.length >0){\n    \n    for (i=0; i< profanities.length; i++){\n        profanitiesText = profanitiesText+ profanities[i].text+ \", \";\n    }msg.explicit = true;\n}else {\n    msg.explicit = false;\n}\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\" + profanitiesText; //\"value=Bubba, Billy, Fred\"; // field_id in SM is Speakers tag list\nmsg.body=\"value=\" + profanitiesText;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":856,"wires":[["6c771b07.2f4724","5c1e8af4.966964"]]},{"id":"5c1e8af4.966964","type":"function","z":"c895de65.034f1","name":"Update explicit flow.get","func":"// bool Explicit field   derived: Profanities[] > 0 then true\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar video_id =  msg.video_id;\n\n//video_id=\"122242159\";\n\n//https://{{channel_apihost}}/videos/{{VIDEO_ID}}/custom-metadata/{{field_id}}.json  //update field\n\n\nvar url = apihost + \"/videos/\" + video_id + \"/custom-metadata/\" + flow.get(\"Explicit_field\") + \".json\";  // field_id  in IBM Video Streaming. Need configuration capability.\n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\n\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"value=\"  + msg.explicit; //\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":888,"wires":[["6c771b07.2f4724"]]},{"id":"5201bed4.bf699","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":948,"y":232,"wires":[]},{"id":"ca50fd88.d54c6","type":"link in","z":"c895de65.034f1","name":"Job processing","links":["84055754.495be","b9715a.297dfea8","82736015.551798","7823784b.1796d8"],"x":89,"y":920,"wires":[["312951b4.be0b1e"]]},{"id":"bcdafa49.5b0f18","type":"http request","z":"c895de65.034f1","name":"GET Profanity Analysis","method":"GET","ret":"obj","url":"","tls":"","x":612,"y":1437,"wires":[["d505be90.0b784","dd8fdb10.e4af98"]]},{"id":"2e2f32b2.1becfe","type":"function","z":"c895de65.034f1","name":"set profanity","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURLvar apikey = form.get(\"WVEapikey\"); \n\n\n\n//var URL0 = \"https://api-dal.watsonmedia.ibm.com/video-enrichment/v2/jobs/11b94ac0-07b4-4627-b8a7-6e2fed8b870e/outputs/video-analysis.json\"\n//msg.tmpJOB_ID = msg.payload;\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\" + msg.JOB_ID + \"/outputs/profanity-analysis.json\"; //API base\n\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey\n    };\n\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":1438,"wires":[["bcdafa49.5b0f18"]]},{"id":"d505be90.0b784","type":"link out","z":"c895de65.034f1","name":"Profanity analysis","links":["80eb50f8.02578"],"x":856,"y":1435,"wires":[]},{"id":"80eb50f8.02578","type":"link in","z":"c895de65.034f1","name":"update Profanities","links":["d505be90.0b784"],"x":89,"y":856,"wires":[["64179d9a.63db24"]]},{"id":"dd8fdb10.e4af98","type":"debug","z":"c895de65.034f1","name":"Profanity Analysis","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":994,"y":1432,"wires":[]},{"id":"7823784b.1796d8","type":"link out","z":"c895de65.034f1","name":"SM Video download ready","links":["ca50fd88.d54c6"],"x":407,"y":632,"wires":[]},{"id":"e42bb883.2a6668","type":"function","z":"c895de65.034f1","name":"WVE Add Job simple w /callback","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURL\nvar video_id = msg.video_id;\nvar channel_id=flow.get(\"SM_channel_id\");\nvar node_red_url=flow.get(\"node_red_url\");\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\"; //API base\"; //API Function\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\n///= for callback to work integrated will need title to be video_id. must be able to look up video_id\nvar body = {\n            \"name\":  video_id, // For intergrated must set name to video_id msg.video_object.title,\n           \"notification_url\": node_red_url+\"/WVEHooknotification\"+channel_id,\n            \"preset\": {\n                \"simple\": {\n                    \"video_url\": msg.video_download_url,\n                    \"language\": \"en-US\"\n                }\n            }\n}\n// get https://{{apihost}}/captioning/v1/captions/{{caption_id}}/outputs/{{output_filename}}\nmsg.payload = body;\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":386,"y":1088,"wires":[["1408d921.d8b2f7"]]},{"id":"eb2fd0ee.638c6","type":"debug","z":"c895de65.034f1","name":"Translate","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":568,"wires":[]},{"id":"d96037ac.ef50b8","type":"comment","z":"c895de65.034f1","name":"Watson Video Enrichment section","info":"","x":562,"y":1049,"wires":[]},{"id":"34cdaa0d.cfdb06","type":"comment","z":"c895de65.034f1","name":"README","info":"As-is. Conceptual sample. No error handeling. No support or warranty of anytype. Use at own risk.\n#License? Free to use for any purpose. Need to add a license type?\n\nAll on one flow for ease of deployment. Node_RED version 0.20 supports context down into submaps which will be an upgrade once bluemix supports\n\nMust configure variables bottom of flow.\n\n","x":122,"y":80,"wires":[]},{"id":"a2898c9e.a6463","type":"http in","z":"c895de65.034f1","name":"start_job23679576","url":"start_job23679576","method":"get","upload":false,"swaggerDoc":"","x":426,"y":336,"wires":[["9f6c0891.67e038","ce1655e8.a1f7c8"]]},{"id":"756649c6.cee268","type":"http response","z":"c895de65.034f1","name":"","statusCode":"201","headers":{"Content-Type":"text/plain"},"x":732,"y":336,"wires":[]},{"id":"9f6c0891.67e038","type":"template","z":"c895de65.034f1","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Videos ready for proceessing will start now!\n\nOK to Close window","output":"str","x":596,"y":336,"wires":[["756649c6.cee268"]]},{"id":"d7902a7b.5cabe8","type":"link in","z":"c895de65.034f1","name":"SM field update","links":["733aadb8.e3baac","ceadd1bc.f228f"],"x":89,"y":992,"wires":[["6c771b07.2f4724"]]},{"id":"93b993b6.f7709","type":"http response","z":"c895de65.034f1","name":"acknowledge (required)","statusCode":"","headers":{},"x":664,"y":1366,"wires":[]},{"id":"beea5df5.c8a1b","type":"catch","z":"c895de65.034f1","name":"","scope":["27af6dd8.9e6292","6c771b07.2f4724","b4edeffe.b68bc","874f60c0.24a0e","34625210.4d271e","3a031713.22f558","52af50ba.4975e","ec1ecd09.795ef","597383d0.2b0eac","823d026f.1def1","bf7392c8.bb8a4","bdd5df01.78cc7","eb3cb5d3.4ab608","6cd49875.0edf38","6a1f4fdc.8423d","b1daf16e.70708","c5357b0.20b6488","ada87220.956bd","6198e381.6594cc","48a4df09.dfac7","596a8ce1.53df34","6b9c00f5.391bd","b772b70b.50d238","143cdf92.8fcf8","f4fd88af.726598","67c7390e.a47598","50a4b987.ebde88","442658e7.476138","f2c6e38.4ddd92","87168d98.b227","2d60916.d686f6e","a05fac4b.9e749","6e61c99a.621988","348719f6.3daf26","5700fc1c.750114","b9e99fb5.22ad7","91f950fe.8e8ec","8abe6745.d2b9d8","2fe2806a.1b922","69c44199.c823e","2d965ad8.33d9f6","c548e502.706fe8","312951b4.be0b1e","2c5f01b1.513f6e","a821c76b.0711e8","1408d921.d8b2f7","64dd89b2.84b648","c8f1b570.80c968","b9715a.297dfea8","6fc84b4f.920e34","d5841976.14a568","492d39e7.794058","d55e5e94.19022","b0e43a59.7d4208","14f6bce3.84def3","310ed72b.06f858","72a204af.42591c","39ef5a4a.bc45b6","6870b92f.3a6128","71688242.7d2b5c","a0deb973.ec3e58","3669f3d0.88d61c","5b632b9c.4cf1b4","7fdab026.20e31","36e5d425.81d5dc","bf1e1dec.839cd","d64388bf.99c7b8","65a17a1a.941624","59af89d5.4095a8","657552b3.92097c","2ed3f624.e3926a","60a3e056.aa1e5","b037cbfc.dfbd88","c7721230.0531b","deb15b54.0ac0c8","44f32cbb.1bdef4","9d6f928.1fb0f7","967d45b7.1af028","e90476ed.760698","41f0467d.d0a4f8","64179d9a.63db24","5c1e8af4.966964","5201bed4.bf699","ca50fd88.d54c6","bcdafa49.5b0f18","2e2f32b2.1becfe","d505be90.0b784","80eb50f8.02578","dd8fdb10.e4af98","7823784b.1796d8","e42bb883.2a6668","eb2fd0ee.638c6","d96037ac.ef50b8","34cdaa0d.cfdb06","a2898c9e.a6463","756649c6.cee268","9f6c0891.67e038","d7902a7b.5cabe8","93b993b6.f7709","b44ef132.8604f","25103660.442f8a"],"uncaught":false,"x":68,"y":1848,"wires":[["b44ef132.8604f"]]},{"id":"b44ef132.8604f","type":"debug","z":"c895de65.034f1","name":"flow errors","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":518,"y":1848,"wires":[]},{"id":"25103660.442f8a","type":"comment","z":"c895de65.034f1","name":"Config & login section Section","info":"set flow vars sets up variables for this flow\n\nLogin sets access and refresh token.\nOnly access token is used","x":290.75,"y":1558.75,"wires":[]},{"id":"73690dc4.fb9b04","type":"comment","z":"c895de65.034f1","name":"Error handling section","info":"None. Just reports","x":254,"y":1811,"wires":[]},{"id":"4947423f.335dbc","type":"comment","z":"c895de65.034f1","name":"Test section","info":"","x":219,"y":2959,"wires":[]},{"id":"ce1655e8.a1f7c8","type":"change","z":"c895de65.034f1","name":"","rules":[{"t":"delete","p":"req","pt":"msg"},{"t":"delete","p":"res","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":415,"y":384,"wires":[["bf1e1dec.839cd","923d182b.465ba8"]],"l":false},{"id":"923d182b.465ba8","type":"debug","z":"c895de65.034f1","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":487,"y":384,"wires":[],"l":false},{"id":"edf8b763.b9b068","type":"change","z":"c895de65.034f1","name":"","rules":[{"t":"delete","p":"parts","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"url","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":287,"y":472,"wires":[["b037cbfc.dfbd88"]],"l":false},{"id":"2354fab9.ff7f56","type":"http request","z":"c895de65.034f1","name":"Video Dowload request","method":"GET","ret":"obj","url":"","tls":"","x":416,"y":1192,"wires":[["9ba63730.926398"]]},{"id":"f351aa7c.07b048","type":"function","z":"c895de65.034f1","name":"get WVE Job Status","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURL\n\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\" + msg.JOB_ID;\nvar headers = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\nmsg.url = url\nmsg.headers = headers;\nreturn msg;\n","outputs":1,"noerr":0,"x":186,"y":1192,"wires":[["2354fab9.ff7f56"]]},{"id":"f0e09841.da60d8","type":"debug","z":"c895de65.034f1","name":"pending","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":864,"y":1163,"wires":[]},{"id":"9ba63730.926398","type":"function","z":"c895de65.034f1","name":"test status","func":"var WVE_JOB_status  = msg.payload.status;\n\n//not the same as SM action field statuse\n\n//msg.length=metadata.length;\nif (WVE_JOB_status == \"pending\"){\n    msg.payload.JOB_ID=msg.payload.id;\n    return [msg,null,null,null,null]\n} \nif (WVE_JOB_status == \"processing\"){\n    msg.payload.JOB_ID=msg.payload.id;\n    return [null,msg,null,null,null]\n} \nif (WVE_JOB_status == \"success\"){\n    msg.payload.JOB_ID=msg.payload.id;\n    return [null,null,msg,null,null]\n} \nif (WVE_JOB_status == \"failure\"){\n    msg.payload.JOB_ID=msg.payload.id;\n    return [null,null,null,msg,null]\n} \n// some other error \nreturn [null,null,null,null,msg];\n\n","outputs":5,"noerr":0,"x":616,"y":1192,"wires":[["f0e09841.da60d8","c3a1c552.0b1d78"],["c3a1c552.0b1d78","dd0d690a.386148"],["34f56855.7ea168","68addcc0.3f7ee4"],["63709e07.b5a1e"],["63709e07.b5a1e"]],"outputLabels":["pending","processing","success","failure",""]},{"id":"c3a1c552.0b1d78","type":"delay","z":"c895de65.034f1","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":166,"y":1158,"wires":[["f351aa7c.07b048"]]},{"id":"dd0d690a.386148","type":"debug","z":"c895de65.034f1","name":"processing","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":874,"y":1194,"wires":[]},{"id":"34f56855.7ea168","type":"debug","z":"c895de65.034f1","name":"downloadComplete","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1098,"y":1190,"wires":[]},{"id":"54094f7c.8e6c5","type":"link out","z":"c895de65.034f1","name":"WVE JOB success","links":["731370f2.295c"],"x":1021,"y":1242,"wires":[]},{"id":"63709e07.b5a1e","type":"debug","z":"c895de65.034f1","name":"failure","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":857,"y":1254,"wires":[]},{"id":"68addcc0.3f7ee4","type":"function","z":"c895de65.034f1","name":"set  msg.JOB_ID","func":"//Should return JOB_ID in payload.\nvar JOB_ID = msg.JOB_ID;\nmsg.payload = JOB_ID;\n\nreturn msg;","outputs":1,"noerr":0,"x":883,"y":1222,"wires":[["54094f7c.8e6c5"]]},{"id":"731370f2.295c","type":"link in","z":"c895de65.034f1","name":"WVE update IVS","links":["54094f7c.8e6c5"],"x":69,"y":1406,"wires":[["6870b92f.3a6128"]]},{"id":"8b1b8d21.bf3dc","type":"http request","z":"c895de65.034f1","name":"Start WVE Job","method":"POST","ret":"obj","url":"","tls":"","x":616,"y":1121,"wires":[["939616d7.a99828","157a71ab.e35bde"]]},{"id":"939616d7.a99828","type":"function","z":"c895de65.034f1","name":"set  msg.JOB_ID","func":"var job_id = msg.payload.id;\nmsg.JOB_ID= job_id;\n\nreturn msg;","outputs":1,"noerr":0,"x":816,"y":1121,"wires":[["b9715a.297dfea8","c3a1c552.0b1d78"]]},{"id":"f2364bd5.858238","type":"function","z":"c895de65.034f1","name":"WVE Add Job simple","func":"var apikey = flow.get(\"WVEapikey\"); \nvar apihost = flow.get(\"WVEapihost\"); //WVE hostURL\nvar video_id = msg.video_id;\nvar channel_id=flow.get(\"SM_channel_id\");\nvar node_red_url=flow.get(\"node_red_url\");\n\nvar url = apihost + \"/video-enrichment/v2/jobs/\"; //API base\"; //API Function\n\nvar PutHeader = {\n    \"content-type\":\"application/json\",\n    \"Authorization\":\"apikey \" + apikey,\n    \"Accepts\": \"application/json\" // keeps from having to use json node to convert string to json\n    };\n\n///= for callback to work integrated will need title to be video_id. must be able to look up video_id\nvar body = {\n            \"name\":  video_id, // For intergrated must set name to video_id msg.video_object.title,\n            \"preset\": {\n                \"simple\": {\n                    \"video_url\": msg.video_download_url,\n                    \"language\": \"en-US\"\n                }\n            }\n}\n// get https://{{apihost}}/captioning/v1/captions/{{caption_id}}/outputs/{{output_filename}}\nmsg.payload = body;\nmsg.url = url;\nmsg.headers = PutHeader;\n\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":1121,"wires":[["8b1b8d21.bf3dc"]]},{"id":"175e8944.290667","type":"link in","z":"c895de65.034f1","name":"WVE simple","links":["ff252ab9.b9e1e","f2c6e38.4ddd92"],"x":71,"y":1102,"wires":[["205543af.90bb9c"]]},{"id":"e0533928.140438","type":"comment","z":"c895de65.034f1","name":"Add WVE Job notes","info":"Choice of using callback or polling to wait for WVE job to complete\nSet value in flow vars. flow.useCallback\n\nFor Callback to work must:\n1. have Internet reachable IP and must be \n2. Configure Node-RED url in flow vars. ","x":136,"y":1071,"wires":[]},{"id":"205543af.90bb9c","type":"switch","z":"c895de65.034f1","name":"callback?","property":"useCallback","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":166,"y":1111,"wires":[["e42bb883.2a6668"],["f2364bd5.858238"]]},{"id":"157a71ab.e35bde","type":"debug","z":"c895de65.034f1","name":"WVE Job start poll","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1098,"y":1121,"wires":[]},{"id":"1a8be060.2f05b","type":"inject","z":"c895de65.034f1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1132,"y":32,"wires":[["84498b17.ebf0a8","c62142b2.00ac3"]]},{"id":"84498b17.ebf0a8","type":"function","z":"c895de65.034f1","name":"get Custommetadata Video","func":"var video_id = msg.video_id;\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar language_source = msg.language_source;\n\n\n\n//https://{{channel_apihost}}/custom-metadata-fields.json?filter[type]=video\nvar url = apihost + \"/custom-metadata-fields.json?filter[type]=video\"\n\nvar headers = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.method=\"GET\";\nmsg.url = url;\nmsg.headers = headers;\nmsg.payload={};\n\nreturn msg;","outputs":1,"noerr":0,"x":1527,"y":37,"wires":[["19711a6.cbe02e6"]]},{"id":"c62142b2.00ac3","type":"function","z":"c895de65.034f1","name":"get Channel list","func":"var video_id = msg.video_id;\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar language_source = msg.language_source;\n\n\nvar url = apihost + \"/users/self/channels.json\"\n\nvar headers = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.method=\"GET\";\nmsg.url = url;\nmsg.headers = headers;\nmsg.payload={};\n\nreturn msg;","outputs":1,"noerr":0,"x":1492,"y":70,"wires":[["325588c7.fcedc8"]]},{"id":"8324d383.15517","type":"debug","z":"c895de65.034f1","name":"Metadata fields","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2052,"y":37,"wires":[]},{"id":"5055102b.50f26","type":"debug","z":"c895de65.034f1","name":"Channel List","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2042,"y":67,"wires":[]},{"id":"19711a6.cbe02e6","type":"http request","z":"c895de65.034f1","name":"get metatdata fields","method":"use","ret":"obj","url":"","tls":"","x":1772,"y":37,"wires":[["8324d383.15517"]]},{"id":"325588c7.fcedc8","type":"http request","z":"c895de65.034f1","name":"get Channel list","method":"use","ret":"obj","url":"","tls":"","x":1757,"y":67,"wires":[["5055102b.50f26"]]},{"id":"1acac852.f5c6e8","type":"function","z":"c895de65.034f1","name":"set create video channelHook flow.get","func":"\nvar apihost = flow.get(\"SMapihost\"); //SM hostURL\nvar access_token= flow.get(\"access_token\");\nvar channel_id = flow.get(\"SM_channel_id\");\nvar node_red_url =flow.get(\"node_red_url\");\n\n\n\n//https://{{channel_apihost}}/channels/{{CHANNEL_ID}}/hooks/video.create.json\n\n\nvar url = apihost + \"/channels/\" + channel_id + \"/hooks/video.create.json\";  \n\n\nvar PutHeader = {\n    \"content-type\":\"application/x-www-form-urlencoded\",\n    \"Authorization\":\"Bearer \" + access_token,\n    \"Accepts\": \"application/json\"\n\n    };\n\nmsg.method=\"PUT\";\nmsg.url = url;\nmsg.headers = PutHeader;\nmsg.payload = \"recipient=\"+node_red_url+ \"/channelHook\" + channel_id; // full url to node Sm Channel Hook secret\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1736,"wires":[["10c8fdef.7862d2"]]},{"id":"fd46d3ab.b5c81","type":"inject","z":"c895de65.034f1","name":"set SM channelHook","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":106,"y":1736,"wires":[["1acac852.f5c6e8"]]},{"id":"10c8fdef.7862d2","type":"http request","z":"c895de65.034f1","name":"set channelHook","method":"use","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":674,"y":1736,"wires":[["f812742b.4046d8"]]},{"id":"f812742b.4046d8","type":"debug","z":"c895de65.034f1","name":"status 204 expected","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":892,"y":1736,"wires":[]},{"id":"19c1efe3.1c62f","type":"comment","z":"c895de65.034f1","name":"CAUTION know before clicking","info":"This updates the channelHook for given channel. It's a write and you can't take it back so understand implications before clicking.\n","x":210,"y":1696,"wires":[]}]